@import "../../styles/colors.scss";

.button {
  background-color: $primary;
  color: $white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  padding: 8px;
  cursor: pointer;

  &:focus {
    outline-color: $primaryLight;
  }

  &:hover {
    opacity: 0.9;
  }
}